
body{
    background-color: rgb(130, 14, 238);
    background-image: url(../img/gir.jpg);
}
.top-nav {
    display: flex;
  }
  .top-nav div {
    margin: 4px 8px;
    font-size: 32px;
  }
  .top-nav a {
    text-decoration: none;

  }
  .top-nav a:hover{
    color:greenyellow;
  }
  .ava img{
    height: 200px;
    aspect-ratio: 1;
  }